@charset "UTF-8";
header.header {
  height: 70px;
  width: 1519px;
  display: flex;
  justify-content: space-between;
}
a:hover {
  text-decoration: none;
}
a {
  color: #333;
}
.header_title img {
  margin-left: 12px;
  margin-top: 15px;
  vertical-align: middle;
  /* border-style: none; */
  /* height: 33px; */
  width: auto;
}
.header_title p a span {
  margin-left: 16px;
  line-height: 1.3;
  font-weight: 900;
  display: -webkit-inline-box;
  display: inline-table;
}
li#special {
  background-color: #2498b3;
}