@charset "UTF-8";
/*コメントヘッダー*/
html body{

font-size: 40px; 
}
body{
 font-size: 60px; 
}
h1{
  font-size: 40px;

  font-weight: 700;
  
  padding: 11px;
  
  margin: 22px;
  
  background-color: aqua;
}
strong{

font-family: initial;

font-size: unset;

font-weight: 900;
}
ul {

margin: 22px;

padding: 11px;

background-color: aqua;

font-weight: 800;

list-style: inside;
}
ul li {

font-size: 90px;

margin: 11px;

padding: 22px;
}
ol {
padding: 90px;
font-size: 90px;

font-family: fantasy;

list-style: decimal-leading-zero;
}
ol li {font-size: 40px;}
u {

font-size: xx-large;

font-weight: 900;

font-style: oblique;

color: yellowgreen;
}
p sup{

font-size: 90px;

font-family: monospace;

font: -webkit-small-control;
}
sup{

font-size: 50px;
}
sub{

}
p sub{

}

div{
  
font-size: 70px;
  
font-family: fantasy;
  
font-weight: bold;
  
background-color: brown;
}
div h1{
  font-size: 100px;

}
abbr {
  font-size: -webkit-xxx-large;
    font-family: fantasy;
    background-color: aqua;
    color: blueviolet;

}
td, th {
  text-align: center;
  border: 1px solid #b7b7b7;
}
table {
  border-collapse: collapse;
}
div > p  {

background-color: aqua;
}
p {
  
background-color: blue;
}